@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex justify-content-between align-items-center">
            <h1 class="m-0">SaneamentoPet</h1>
            <a href="#" @onclick="Logout">Sair</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    [Inject]
    private NavigationManager Navigation { get; set; }

    private void Logout()
    {
        Navigation.NavigateTo("/login");
    }
}
